body{
    text-align: center;
    background-image: url("silverware.jpg");
    font-family: 'Segoe UI';
    align-items: center;


}
.home{
    width: 1024px;
    margin: auto;
    }
h1,h2,h3{
    text-align: center;
    background-color: #f0f0f0;
    color:#a4a400;
    border-radius: 15px ;
    border: 2px solid #73ad21;
    margin: 20px auto 20px auto;
    padding: 15px;
}
h1{
    width: 60%;
    padding:23px ;
    font-size: x-large;
}
h2{
    width: 40%;
    height: 50%;
    font-size: large;
}
h3{
    
    width: 50%;
    height: 50%;
    font-size: large;
}
#Jumbo {
    border-radius: 50%;
    float: center;
    width: 20rem;
    height: 9rem;
    object-fit: cover;
    margin-top: 6px;
}
.comments-p{
    background-color: #ffffa8;
}
.ul-resp{
    list-style-image: url('fish_icon_24.png');
    text-align: left;
}
.container-1{
    column-count:3;
    column-gap: 40px;
    column-rule-style: solid;
    column-rule-color: #a4a400;
    padding: 2px;
    text-align: left;
}
.container-img{
    justify-content: center;
    display: flex;
}
.form-cont{
    display:inline-block;
    margin: auto;
    width: 50%;
    padding: 10px;
    text-align: left;
}
.fieldset-radio{
        text-align: center;
}
.in-sty{
    display:inline;
    width: 90%;
}
.link-a{
    color: #a4a400;
}



@media all and (max-width:768px) {
    .container-1{
        column-count:2;
    }
    .form-cont{
        width: 60%;
    }
    .home{
        width: 700px;
        margin: auto;
        }
}
@media all and (max-width:600px) {
    .container-1{
        column-count:1;
    }
    .form-cont{
        width: 70%;
    }
    .home{
        width: 400px;    
        margin: auto;
        }
        h1{
            width: 90%;
            padding:23px ;
            font-size: x-large;
        }
        h2{
            width: 70%;
            height: 50%;
            font-size: large;
        }
        h3{
            
            width: 70%;
            height: 50%;
            font-size: large;
        }

}